<?xml version="1.0"?>
<robot name="my_tinkercad" xmlns:xacro="https://ros.org/wiki/xacro">

<link name="my_link">

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
    <mesh filename="package://project/urdf/meshes/tinkercad_exemple.stl" />
    </geometry>
  </visual>
</link>

</robot>
